---
- name: Sample Linux ping playbook
  hosts: winservers
  gather_facts: no
  tasks:
    - name: Install the Visual C thingy
      win_package:
        path: "C:/temp/GoogleChromeStandaloneEnterprise64.msi"
        arguments: '/passive /norestart'
        state: present
