---
- name: Sample Linux ping playbook
  hosts: winservers
  gather_facts: no
  tasks:

    - name: Create mapped drive with credentials that do not persist on the next logon
      ansible.windows.win_mapped_drive:
        letter: M
        path: \\DESKTOP-D5JAKP0\sharesoft\ChromeStandaloneSetup64.exe
        state: present
        username: ratan
        password: '135790135790
    - name: Copy the installer filr
      ansible.windows.win_copy:
        src: D:\ChromeStandaloneSetup64.exe
        dest: C:\temp
      vars:
        ansible_become_user: ratan
        ansible_become_password: 135790135790
    - name: Install the Visual C thingy
      ansible.windows.win_package:
        path: C:\temp\ChromeStandaloneSetup64.exe
        product_id: 'chrome'
        arguments: /qn /norestart
        state: present
    - name: Verify Chrome installation
      ansible.windows.win_command: |
        "C:\Program Files\Google\Chrome\Application\chrome.exe" --version
      register: chrome_version
      changed_when: false
    - name: Show Chrome version
      ansible.windows.win_debug:
        var: chrome_version.stdout
